<h1>Welcome To Spencer Dixon's Personal Website</h1>


<h1>Recent Posts</h1>
<ul>
<% @posts.each do |post| %>
  <li>
    <p> <%= post.title %> </p>
    <p class="alert success"> <%= post.body %> </p>
  </li>
<% end -%>
</ul>
