<nav class="nav-inverse">
  <div class="brand">
    <h1>Spencer Dixon</h1>
  </div>
  <ul>
    <% if current_user %>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign In', new_user_session_path, class: "call-to-action" %></li>
    <% end -%>

    <li><a href="/" class="active"> Home  </a></li>
  </ul>
</nav>

